<body>
	<h1>Sign Up</h1>
	<form id="formAddUser" name="adduser" method="post" action="/signup">
		<input id="inputUserEmail" type="text" placeholder="email address" name="useremail">
		<br>
		<input id="inputUserPass" type="text" placeholder="password" name="password">
        <br>
        <input id="inputUserPassAgain" type="text" placeholder="password again" name="passwordagain">
        <br>
        <input id="inputUserFname" type="text" placeholder="first name" name="fname">
        <br>
        <input id="inputUserLname" type="text" placeholder="last name" name="lname">
        <br>
        <input id="inputUserPho" type="text" placeholder="phone number" name="phone">
        <br>
        <input id="inputUserDr" type="text" placeholder="driver license" name="driverlicense">
        <br>
        <input id="inputUserStr" type="text" placeholder="street address" name="street">
        <br>
        <input id="inputUserCity" type="text" placeholder="city" name="city">
        <br>
        <input id="inputUserState" type="text" placeholder="state" name="state">
        <br>
        <input id="inputUserZip" type="text" placeholder="zip code" name="zip_code">
        <br>
        <input id="btnSubmit" type="submit" value="Sign Up">
	</form>
</body>