extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/signup")
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        br
        input#inputUserPass(type="text", placeholder="password", name="password")
        br
        input#inputUserPassAgain(type="text", placeholder="password again", name="passwordagain")
        br
        input#inputUserFname(type="text", placeholder="first name", name="fname")
        br
        input#inputUserLname(type="text", placeholder="last name", name="lname")
        br
        button#btnSubmit(type="submit") submit