<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Golden Chore</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" style="background-color:#9F8524;margin-top:30px;margin:0;height:15px">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row" style="margin-top:20px">
            <div class="col-md-6">
               <a href="/home" class="btn pull-left" type="button">Golden Chore</a>
            </div>
            <div class="col-md-6">
               <a href="/" class="btn pull-right" type="button">Login</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-center">
                GOLDEN CHORE
              </h1>
              <br/>
              <p class="text-center">
                Building a community by helping senior citizens
              </p>
              <br/>
              <h3 style="margin:30px;">
                TASKLIST
              </h3>
              <div class="row" style="margin:30px;">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4" >
                        <div class="pull-left" style="background-image:url('img/handyman.jpg');width:100%;height:250px"></div>
                        <div class="pull-left" style="background:#fff;width:100%;height:50px"><h4 class="text-center colorBlack">HANDYMAN</h4></div>
                    </div>

                    <div class="col-md-4" >
                        <div class="pull-left" style="background-image:url('https://www.craftsman-book.com/media/wysiwyg/contractor_customerpage.jpg');width:100%;height:250px"></div>
                        <div class="pull-left" style="background:#fff;width:100%;height:50px"><h4 class="text-center colorBlack">IT GUY</h4></div>
                    </div>
                    <div class="col-md-4" >
                        <div class="pull-left" style="background-image:url('https://www.buggyexpress.com/wp-content/uploads/2011/07/deliver.jpg');width:100%;height:250px"></div>
                        <div class="pull-left" style="background:#fff;width:100%;height:50px"><h4 class="text-center colorBlack">GROCERIES AND DELIVERY</h4></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="margin-top:20px;">
                  <div class="row">
                    <div class="col-md-4" >
                        <div class="pull-left" style="background-image:url('http://www.mispeedway.com/~/media/C85AB394A2704EFEBC7A7369D4792BDC.ashx?w=325');width:100%;height:250px"></div>
                        <div class="pull-left" style="background:#fff;width:100%;height:50px"><h4 class="text-center colorBlack">GET A RIDE</h4></div>
                    </div>
                    <div class="col-md-4">
                        <div class="pull-left" style="background-image:url('http://www.linenslimited.com/media/wysiwyg/menu_banners/Gifts2.jpg');width:100%;height:250px"></div>
                        <div class="pull-left" style="background:#fff;width:100%;height:50px"><h4 class="text-center colorBlack">PET CARE</h4></div>
                    </div>
                    <div class="col-md-4" >
                        <div class="pull-left" style="background-image:url('http://i.imgur.com/pwKJrk4.jpg');width:100%;height:250px"></div>
                        <div class="pull-left" style="background:#fff;width:100%;height:50px"><h4 class="text-center colorBlack">CLEANING THE CAR</h4></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="margin-top:20px;">
                  <div class="row">
                    <div class="col-md-4" >
                        <div class="pull-left" style="background-image:url('http://cleanlycut.com/wp-content/uploads/2015/06/Cleanly-Cut-Lawn-Mowing-Service.jpg');width:100%;height:250px"></div>
                        <div class="pull-left" style="background:#fff;width:100%;height:50px"><h4 class="text-center colorBlack">MOWING THE LAWN</h4></div>
                    </div>

                    <div class="col-md-4" >
                        <div class="pull-left" style="background-image:url('http://demandware.edgesuite.net/sits_pod27/dw/image/v2/AAYH_PRD/on/demandware.static/-/Sites-itemmaster_Brookstone/default/dw1bb258ad/hi-res/868291p.jpg?sw=325');width:100%;height:250px"></div>
                        <div class="pull-left" style="background:#fff;width:100%;height:50px"><h4 class="text-center colorBlack">SHOVELING SNOW</h4></div>
                    </div>
                    <div class="col-md-4" >
                        <div class="pull-left" style="background-image:url('http://nigeria.india4health.com/images/doctors_india1.jpg');width:100%;height:250px"></div>
                        <div class="pull-left" style="background:#fff;width:100%;height:50px"><h4 class="text-center colorBlack">HOSPITAL VISIT</h4></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 footer navbar-fixed-bottom"" style="background-color:#0D253D;margin-top:30px;">
            <div class="row">
              <div class="col-md-12" style="background-color:#9F8524;margin-top:30px;margin:0;height:15px">
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
